<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <h1>
            {{title}}
        </h1>
        <h2>
            Overall Summary 
        </h2>
        <p>
            {{overall_summary}}
        </p>
        <h2>
            Mental Health Graph
        </h2>
        <img 
            src="{{health_image}}",
            alt="{{health_alt}}">
        </img>
        <h2>
            Special Beliefs Word Graph 
        </h2>
        <img src="{{belief_image}}", alt="{{belief_alt}}">
    </img>
    <h3>
        Raw results
    </h3>
    <p>
        {{raw_results}}
    </p>
    </body>
</html>